@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$theme-colors: (
  'primary': #560bad,
  'secondary': #7209b7,
  'info': #3f37c9,
  'warning': #7209b7,
  'danger': #f72585,
  'success': #1d7a65,
);

@import '../node_modules/bootstrap/scss/bootstrap';

html {
  --main: #08ad5f;
  --main-light: #0ade7a;
  --light-shade: #d1cdc7;
  --lighter-shade: white;
  --dark-shade: #1c1e1f;
  --darker-shade: #181a1b;
}

html[data-theme='dark'] {
  //   background: url('./bg/diagmonds.png');

  --main: #08ad5f;
  --main-light: #0ade7a;
  --dark-shade: #d1cdc7;
  --darker-shade: white;
  --light-shade: #1c1e1f;
  --lighter-shade: #181a1b;
}

body,
html,
#root {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light-shade);
  background-color: var(--darker-shade);
  height: 100%;
}

a,
.fa-icon {
  color: $primary; //TODO not working
}

a:hover,
.fa-icon:hover {
  color: $secondary;
}

#root {
  display: flex;
  flex-direction: column;
}

.outlet {
  flex: 1 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

.card-text {
  font-size: 14px;
}

.card {
  background-color: rgb(24, 26, 27);
  border-color: rgba(140, 130, 115, 0.13);
  color: #c8c3bc;
}

.bg-dark {
  background-color: var(--dark-shade) !important;
}

.card .text-muted {
  width: 250px;
}

/* just for demo purposes */
.btn {
  width: 175px;
}

.list-group-item {
  color: #ebebeb !important;
  background-color: #101010 !important;
}

.small-btn {
  width: 110px !important;
}

/* ACCORDION */
.accordion {
  text-align: left;
}

.accordion-item {
  background-color: var(--darker-shade);
  border: none;
}

.accordion-button {
  border: none;
  color: #e3e3e3 !important;
  font-weight: bold;
  background-color: var(--darker-shade) !important;
}

/* TABLES */
.table-dark {
  --bs-table-bg: var(--darker-shade);
}

.table > :not(:first-child) {
  border: none;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #232628;
}

/* TOOLTIP */
.tooltipSpecial {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltipSpecial .tooltiptextSpecial {
  width: 120px;
  background-color: white;
  color: $primary;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 15px;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.tooltipSpecial .tooltiptextSpecial::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 49%;
  margin-top: -5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.tooltip-visible {
  opacity: 1 !important;
}

@-webkit-keyframes tooltipAnim {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes tooltipAnim {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.tooltipAnim {
  -webkit-animation: tooltipAnim 0.2s 1 0s ease-in-out;
  animation: tooltipAnim 0.2s 1 0s ease-in-out;
}

/* FLIP CARD */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  width: 100%;
  padding-bottom: 100%;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-img-top {
  border-radius: 3px 3px 0 0;
}

/* THEME SWITCH CHECKBOX */
.toggle-container {
  position: absolute;
  top: -0.3rem;

  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    margin: 15px;
    width: 52px;
    height: 27px;
    background: #2b2b2b;
    float: left;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--main);
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 45px;
  }
}
